.about-section {
  height: auto;
  width: 100vw;
  margin-top: 6rem;
  margin-bottom: 4rem;
  background: var(--bgColorLight);
  color: var(--textColor);
}
.section-title {
  text-align: center;
  padding-top: 2rem;
}
.section-title h2 {
  text-transform: capitalize;
}
.section-title p {
  margin: 2rem 8%;
}

.cards-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 4rem auto;
  background: #fff;
}

.cards-team-member {
  display: flex;
  flex-direction: row;
  margin: 3rem;
  transition: all 0.2s ease-in-out;
}
.cards-team-member:hover {
  cursor: pointer;
  border: 1px solid var(--bgColorLight);
  border-radius: 11px;
  transform: scale(1.2); /* Igual que: scaleX(0.7) scaleY(0.7) */
}

.cards-team-main-info {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  padding: 1rem;
}
.cards-team-main-info img {
  width: 250px;
  height: auto;
  border-radius: 50%;
}
.cards-team-main-data {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
}
.cards-team-main-name {
  margin: 1rem auto;
}
.cards-team-main-position {
  margin: auto;
}
.cards-team-social-links {
  display: flex;
  flex-direction: row;
}
