.steps-form {
  height: auto;
  color: white;
  margin: 6rem;
}
.form-header {
  margin: 0 !important;
}
.form-header h1 {
  color: #f4f7f6;
  padding: 2rem;
}
.form-body {
  background-color: white;
  border-radius: 22px;
  margin: 4rem;
}

.form-inputs {
  display: flex;
  margin: 2rem;
}
.form-inputs input {
  margin: 1px;
}
