:root {
  --textFont: 'Cantarell';
  --textColor: #333333;
  --textColorLight: #e2dfdf;
  --navTextColor: #e2dfdf;
  --bgColor: #001f3f;
  --bgColorLight: #e2dfdf;
  --mainColor: #612559;
  --mainColorDark: #40173a;
  --secondColor: #40173a;
  --errorColor: tomato;
  --menuBg: transparent;
  --titleSize: 3.5rem;
  --hugeSize: 2.5rem;
  --maxSize: 1.75rem;
  --textSize: 1rem;
  --tinySize: 0.8rem;

  /* Header */
  --headerImgSize: 100%;
}
