html {
  margin: 0;
}

body {
  background-color: var(--bgColorLight);
  font-family: 'Cantarell', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
}
h2 {
  font-size: 3rem;
  text-transform: capitalize;
  text-align: center;
  letter-spacing: 1.5px;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
  letter-spacing: 1px;
}
